@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if (@User.Claims.FirstOrDefault(x => x.Type == "STATUS")?.Value == "admin")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminPanel">Админ панель</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="EditUser" asp-action="Index" asp-route-id="@User.Claims.FirstOrDefault(x => x.Type == "USERID")?.Value">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Выход</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
    </ul>
}
